.product-details {
  margin-top: 39px;
  width: 50%;
}

.rating {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 4px;
}

.rating-image {
  width: 15px;
}

.price {
  display: flex;
  align-items: baseline;
  gap: 10px;
  margin: 10px 0;
}

.discount {
  color: red;
  font-size: 18px;
}

.original-price {
  text-decoration: line-through;
  color: grey;
  font-size: 18px;
}

.final-price {
  font-size: 20px;
  color: red;
  font-weight: bold;
}

.badge {
  background-color: #8a2be2;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 15px;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
}

.info-row {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.label {
  font-weight: bold;
  color: #333;
}

.value {
  color: #666;
}

.option-select {
  margin-top: 20px;
}

select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

.actions {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.actions button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.cart-btn {
  background-color: transparent;
  border: 2px solid #ff5722;
  color: #ff5722;
}

.gift-btn {
  background-color: #414b5a;
  color: white;
}

.buy-btn {
  background-color: #ff5722;
  color: white;
  flex-grow: 1;
}
